<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>
 
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts</h3>
      <ol class="microposts" id="microposts">
        <%= render @microposts %>
      </ol>
      <%= form_tag(@user,remote: true, method: :get) do %>
        <%= hidden_field_tag :page , 1%>
        <%= submit_tag "View more", class: "btn btn-large btn-primary", style: "margin-top: 10px" %>
      <% end %>      
    <% end %>
  </div>
</div>